
            </mian>
        </div>

        <footer>
            <div class="bg-[var(--first)] text-[var(--second)] w-full">

                <ul class="flex justify-around items-center flex-wrap p-9">
                    <li>About Us</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                    <li>Our Community</li>
                </ul>
                
                <hr class="mx-5" />
                
                <div class="flex justify-around items-center flex-wrap p-5">
                    <div class="logo flex justify-center items-center">
                        <img class="logo-img w-10 rounded-full" src="/images/web-mart-logo.svg" alt="WM">
                        <h2 class="text-xl font-bold ms-2">Web <span class="text-[var(--logo)]">Mart</span></h2>
                    </div>
                    <p>Copyright © 2024 WebMart, All rights reserved.</p>
                    <p>Our Social Network :</p>
                </div>
            </div>
        </footer>
