<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Register</title>
    </head>
    <body class="">
        <header class="bg-zinc-900">
            <div class="container flex justify-between items-center m-auto p-2">
                <div class="logo text-zinc-100 p-3">
                    <img src="" alt="Web Mart">
                </div>
                
                <nav class="flex justify-between items-center">
                    <a class="text-zinc-100 p-3" href="">App</a>
                    <a class="text-zinc-100 p-3" href="">Game</a>
                    <a class="text-zinc-100 p-3" href="/register">Sign-In</a>
                </nav>
            </div>
        </header>
        